@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Styles.Url("~/content/plugin/xeditable.css")" rel="stylesheet" type="text/css" />
}
<div ng-view ng-app="customerreceivableApp" class="content-wrapper">
</div>


@section Scripts {
    <script src="@Scripts.Url("~/scripts/ui-bootstrap-tpls-0.13.1.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/scripts/xeditable.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/scripts/hotkeys.min.js")" type="text/javascript"></script>

    @Scripts.Render("~/bundles/customerreceivable")

    <script type="text/javascript">
    var purchApp = angular.module('customerreceivableApp');
    purchApp.value('SupplierList', @Html.Raw(Json.Encode(ViewBag.Suppliers)));
    purchApp.value('PharmacyIdEnc', '@Html.Raw(ViewBag.PharmacyIdEnc)');

    </script>
}
